#cluster-map {
	width:100%;
	height: 400px
}

#map {
	width:100%;
	height: 500px;
		
}


#searchForm {
	max-width: 500px
}



.formBox {
	max-width: 100%;
	padding: 10px 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items:center;
		
}

#imgFit {
	width: 80%;
	border-radius: 25px 25px 0 0;
}

.fa-smile-beam{
	color: #ffb703;
	transform: scale(1.8);
	margin-left: 10px;
}
