.neat {
	max-width:500px;
	margin: 90px auto;
}

body {
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://source.unsplash.com/s4G-4rxQmMY/1920x1080');
	/* background-position:center; */
	background-size:cover;
}